* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper{
    width: 720px;
    min-width: 320px;
    border: 1px solid black;
}

.leftColumn {
    float: left;
    min-width: 600px;
    width: 20%;
    height: 100vh;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    border-right: 1px solid #ccc;
}

.rightColumn {
    min-width: 400px;
    width: 80%;
}

.control-panel a {
    font-size: 1em;
    color: #24F;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

img.header {
    float: left;
}

.found {
    border-bottom: 1px solid #ccc;
}

.city {
    border-bottom: 1px solid #ccc;
}

.footer p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.search {
    background-color: #729BD3;
    height: 80px;
    color: #fff;
    height: 6em;  /* не в % */
    line-height: 6em;
}