@media only screen and (max-width: 400px) {
    .container {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 0 1px #E3E4E8;
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }

    .logo {
        background: url('assets/mobile/header-logo.svg') no-repeat;
        display: inline-block;
        height: 45px;
        vertical-align: middle;
        width: 45px;
    }

    .header-text {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }

    .container-header {
        border-bottom: 1px solid #E7E8EC;
        padding: 20px;
    }

    .header-text-l {
        color: #2B2F33;
        font-size: 15px;
        letter-spacing: .4pt;
    }
    .header-text-s {
        color: #656565;
        font-size: 10px;
        letter-spacing: .2pt;
        margin-top: 7px;
    }

    .step-block-1 .picture {
        background: url('assets/mobile/step1-pic.svg') no-repeat;
        display: block;
        float: right;
        height: 189px;
        width: 361px;
    }

    .step-block-2 .picture {
        background: url('assets/mobile/step2-pic.svg') no-repeat;
        display: block;
        float: right;
        height: 124px;
        margin: 15px 15px 0 0;
        width: 270px;
    }

    .step-block-2 .text {
        color: #2B2F33;
        display: block;
        font-size: 14px;
        line-height: 1.6;
        margin-top: 25px;
        width: 312px;
    }
}